<div class="container">
  <app-header [headerTitle]="'home'"></app-header>
  <div class="home-container">
    <div class="news">
      <mat-list>
        News :
        <mat-list-item>
          L'éditeur de phrase local est fonctionnel !
        </mat-list-item>
      </mat-list>
      <!-- TODO MODEL AND LOGIC-->
    </div>
    <div class="config-panel">
          <app-add-langue-form
            [parentFormGroup]="addFavoriteLanguagesForm"
            (addPhraseLine)="addFavorite($event)"
          ></app-add-langue-form>
          <div class="country-badges">
            <div class="favorite-item" *ngFor="let favorite of favorites">
              <img class="fav-image" [src]="flagPath + favorite.code + flagExt" />
            </div>
          </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
