<div class="container">
  <app-header [headerTitle]="'home'"></app-header>
  <div class="news">
    <mat-list>
      News :
      <mat-list-item>
        L'éditeur de phrase local est fonctionnel !
      </mat-list-item>
    </mat-list>
    <!-- TODO MODEL AND LOGIC-->
  </div>
  <div class="config-panel">
     <mat-list>
      TODO :
      <mat-list-item>
        Gérer la configuration côté base de données, avec favoris utilisateur
      </mat-list-item>
      <mat-list-item>
        Edition des phrases et thèmes insérés
      </mat-list-item>
      <mat-list-item>
        Visualisations des traductions
      </mat-list-item>
    </mat-list>
    <!-- TODO MODEL AND LOGIC-->
  </div>
  <app-footer></app-footer>
</div>
