<div class="container">
  <app-header [headerTitle]="'home'"></app-header>
  <div class="home-container">
    <div class="config-panel">
      <app-add-langue-form
        [parentFormGroup]="addFavoriteLanguagesForm"
        (addPhraseLine)="addFavorite($event)"
      ></app-add-langue-form>
      <div class="title-wrapper">
        <h2>Vos langues favorites :</h2>
      </div>
      <div class="country-badges">
        <div class="favorite-item" *ngFor="let favorite of favorites;let index = index">
          <div class="fav-wrapper">
            <button mat-mini-fab color="warn" class="delete-button" (click)="deleteFavorite(favorite,index)">
              <mat-icon>delete</mat-icon>
            </button>
          <img class="fav-image" [src]="flagPath + favorite.code + flagExt" >
        </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
