<div [formGroup]="addPhraseForm">
  <app-add-langue-form
    *ngIf="!this.isReadOnly"
    [parentFormGroup]="addPhraseForm"
    (clickOption)="addPhraseLine($event)"
  ></app-add-langue-form>
  <div class="phrases-form">
    <div
      formArrayName="phrases"
      class="phrase-line"
      *ngFor="let phrase of phrases['controls']; let i = index"
    >
      <div class="line-wrapper" [formGroupName]="i" fxLayout="row">
        <img [src]="flagPath + phrase.value.langue.code + flagExt" />
        <mat-form-field fxFlex class="input-phrase-form" appearance="fill">
          <mat-label>{{ 'phrase' | translate }}</mat-label>
          <textarea
            matInput
            formControlName="texte"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
        <div class="button-column">
          <button
            *ngIf="i !== 0 && !this.isReadOnly"
            mat-fab
            color="warn"
            (click)="deleteLine(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="action-line">
    <button
      class="cancel-button"
      mat-raised-button
      color="accent"
      [routerLink]="'/lists'"
    >
      {{'cancel' | translate}}
    </button>
    <button
      *ngIf="!this.isReadOnly"
      (click)="sendPhrases()"
      class="submit-button"
      mat-raised-button
      color="primary"
      [disabled]="!addPhraseForm.valid"
    >
      {{'add' | translate}}
    </button>
  </div>
</div>
