<div class="footer">
    <div class="home-container">
        <div class="home-underlay mat-app-background" color="primary"></div>
        <a [routerLink]="'/'" color="accent" mat-fab class="home-button">
            <i class="material-icons">home</i>
        </a> 
    </div>   
<mat-toolbar class="toolbar-footer" color="primary">
    <a mat-button *ngFor="let button of buttons" [routerLink]="button.link"  class="list-element shadow-none">
        <div class="text-button">
           {{ button.code | translate }}
        </div>
        <i class="material-icons">{{ button.image }}</i>
    </a>
</mat-toolbar>
</div>
