<mat-toolbar [formGroup]="parentFormGroup" class="add-phrase-line">
  <!-- AUTOCOMPLETE LANGUAGE-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ "langue" | translate }}</mat-label>
    <input
      type="text"
      placeholder="{{ 'add-langue-placeholder' | translate }}"
      matInput
      formControlName="LANGUAGE_SELECTION"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      [displayWith]="displayNameLangue"
      autoActiveFirstOption
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let option of filteredOptionsCountries | async"
        [value]="option"
        (click)="sendLangue(option)"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- ADD LINE BUTTON-->
</mat-toolbar>
