.sub-header
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    height: fit-content
    padding: 0
    .mat-button
        padding: 0

.lists-container
    display: flex
    flex: 1
    width: 100%
    justify-content: center
    .trad-list
        mat-list-item   
            display: flex
            flex-direction: column
            justify-content: space-between
            .traduction-flag
                width: 50px
            

        
.mat-list-item-content
    justify-content: space-around