.lists-container
    display: flex
    flex-direction: column
    width: 80%
    height: 100%
    .add-button
        margin: 2% 0 2% 0 
    .trad-list
        mat-list-item   
            display: flex
            flex-direction: column
            justify-content: space-between
            .traduction-flag
                width: 50px
            

        
