<div class="container">
  <app-header [headerTitle]="'list'"> </app-header>
  <div class="lists-container">
  <button mat-raised-button color="primary" class="add-button"
  >{{ "add-subject" | translate }}</button>
    <mat-expansion-panel
          mat-tab-content
          class="subject"
          *ngFor="let subject of subjects"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{
                  subject.currentLangtrad
              }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button color="primary" class="add-button" (click)="addPhraseDialog(subject)">{{ "add-phrase-button" | translate }}</button>
          <mat-list class="trad-list">
            Liste des phrases :
            <mat-list-item *ngFor="let reference of subject.references">{{
              customTranslateService.getTranslationForKey("fr", reference.phrases)
            }}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
  </div>
  <app-footer></app-footer>
</div>
