@import url('../node_modules/material-design-icons-iconfont/dist/material-design-icons.css')
// for npm roboto-fontface package (to load local files)
$roboto-font-path: "~roboto-fontface/fonts" !default
@import "~roboto-fontface/css/roboto/sass/roboto-fontface"

html
    height: 100%
body
    height: 100%
    .mat-icon-button
        height: fit-content

.material-icons 
  font-size: 24px
  height: 24px
  width: 24px
  font-family: 'Material Icons', 'Material Icons'
  .mat-badge-content 
    font-family: 'Roboto'
  

